<!--
=========================================================
* Argon Design System - v1.2.2
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <title>
    Inforums - Pofile
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="../static/css/font-awesome.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />
  <!-- profile picture styling -->
  <style>
    * {box-sizing: border-box;}
    
    .cont {
      position: relative;
      width: 50%;
      max-width: 300px;
    }
    
    .im {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute; 
      bottom: 0; 
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1; 
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
  </style>
</head>

<body class="profile-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="{{ url_for('index') }}">
        <img src="../static/img/brand/white.png" alt="White Inforums logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{{ url_for('index') }}">
                <img src="../static/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link">
              <i class="ni ni-compass-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Topics</span>
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-controller"></i></span>
                <span class="text pl-2"> Gaming</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-laptop"></i></span>
                <span class="text pl-2"> Coding</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-atom"></i></span>
                <span class="text pl-2"> Science</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                <span class="text pl-2"> Stock Market</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-palette"></i></span>
                <span class="text pl-2"> Art</span>
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('profile', user=current_user.username)}}" class="nav-link">
                <i class="ni ni-compass-04 d-lg-none"></i>
                <span class="nav-link-inner--text">{{ current_user.username }}</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <span href="javascript:;" class="avatar rounded-circle">
                  <img alt="Image placeholder" src="{{ current_user.avatar_path }}">
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                <a class="dropdown-item" href="{{ url_for('profile', user=current_user.username) }}">
                  <span class="btn-inner--icon"><i class="fa fa-user-alt"></i></span>
                  <span class="btn-inner--text">My Profile</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                  <span class="btn-inner--icon"><i class="fa fa-sign-out"></i></span>
                  <span class="btn-inner--text">Log Out</span>
                </a>
              </div>
            </li>
          {% else %}
            <li class="nav-item py-2">
              <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-sm btn-outline-success">Sign In</button>
              </a>
            </li>
            <li class="nav-item py-2">
              <a href="{{ url_for('register') }}">
                <button type="button" class="btn btn-sm btn-success">Sign Up!</button>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <img class="bg-image" src="../static/img/backgrounds/bg_0.jpg" style="width: 100%;">
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:;">
                    <img src="{{ profile_user.avatar_path }}" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  {% if current_user.id == profile_user.id %}
                    <form method="POST" enctype="multipart/form-data">
                      <label class="btn btn-primary btn-icon">
                        Choose Avatar <input type="file" name="avatar_upload" hidden>
                      </label>
                      <label class="btn btn-primary btn-icon">
                        <span class="btn-inner--icon"><i class="fa fa-cloud-upload"></i></span>
                        <input type="submit" name="submit" hidden>
                      </label>
                    </form>
                  {% else %}
                    <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                    <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                  {% endif %}
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{ num_posts }}</span>
                    <span class="description">Posts</span>
                  </div>
                  <div>
                    <span class="heading">{{ tips_recieved }}</span>
                    <span class="description">Tips Recieved</span>
                  </div>
                  <div>
                    <span class="heading">{{ tips_given }}</span>
                    <span class="description">Tips Given</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ profile_user.username }}</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Member since {{ profile_user.date }}</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="text-center">
                  <h4>Posts</h4>
                </div>
              </div>
            </div>
            <div class="list-group mb-5">
              <!-- loop though all posts -->
              {% for post in profile_user_posts %}
                <a href="{{ url_for('thread', post_id=post.id) }}" class="list-group-item list-group-item-action">
                  <span class="pull-left">
                    <div class="icon icon-shape bg-gradient-{{ icon[post.topic][0] }} rounded-circle text-white mr-3">
                      <i class="{{ icon[post.topic][1] }}"></i>
                    </div>
                  </span>
                  <div class="list-group-item-text mb-1">{{ post.title }}</div>
                  <span class="badge badge-pill badge-primary text-lowercase">u/{{ post.user.username }}</span>
                  <span class="text-muted pull-right" style="font-size: 0.85em;">{{ post.date }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2020 <a href="" target="_blank">Lee & Kev Co</a>.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link">Home</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a href="{{ url_for('profile', user=current_user.username) }}" class="nav-link">My Profile</a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('register') }}" class="nav-link">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../static/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/moment.min.js"></script>
  <script src="../static/js/plugins/datetimepicker.js" type="text/javascript"></script>
  <script src="../static/js/plugins/bootstrap-datepicker.min.js"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="../static/js/argon-design-system.min.js?v=1.2.2" type="text/javascript"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
  <script>
    function hide(){
      document.getElementById('flash').style.visibility = 'hidden';
    }
  </script>
</body>

</html>