<!--
=========================================================
* Argon Design System - v1.2.2
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <title>
    Inforums - {{ post.title }}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="../static/css/font-awesome.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="{{ url_for('index') }}">
        <img src="../static/img/brand/white.png" alt="White Inforums logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{{ url_for('index') }}">
                <img src="../static/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link">
              <i class="ni ni-compass-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Topics</span>
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-controller"></i></span>
                <span class="text pl-2"> Gaming</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-laptop"></i></span>
                <span class="text pl-2"> Coding</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-atom"></i></span>
                <span class="text pl-2"> Science</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                <span class="text pl-2"> Stock Market</span>
              </a>
              <a href="#" class="dropdown-item">
                <span class="inner--icon"><i class="ni ni-palette"></i></span>
                <span class="text pl-2"> Art</span>
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('profile', user=current_user.username)}}" class="nav-link">
                <i class="ni ni-compass-04 d-lg-none"></i>
                <span class="nav-link-inner--text">{{ current_user.username }}</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <span href="javascript:;" class="avatar rounded-circle">
                  <img alt="Image placeholder" src="{{ current_user.avatar_path }}">
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                <a class="dropdown-item" href="{{ url_for('profile', user=current_user.username) }}">
                  <span class="btn-inner--icon"><i class="fa fa-user-alt"></i></span>
                  <span class="btn-inner--text">My Profile</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                  <span class="btn-inner--icon"><i class="fa fa-sign-out"></i></span>
                  <span class="btn-inner--text">Log Out</span>
                </a>
              </div>
            </li>
          {% else %}
            <li class="nav-item py-2">
              <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-sm btn-outline-success">Sign In</button>
              </a>
            </li>
            <li class="nav-item py-2">
              <a href="{{ url_for('register') }}">
                <button type="button" class="btn btn-sm btn-success">Sign Up!</button>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-sm">
          <div class="col px-0">
            <div class="container">
              <!-- load popup maybe -->
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" id="flash">
                      <span class="alert-inner--icon"><i class="fa fa-exclamation-circle"></i></span>
                      <span class="alert-inner--text">{{ message }}</span>
                      <button type="button" class="close" onclick="hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}
                {% else %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="visibility: hidden;">
                  <span class="alert-inner--icon"><i class="fa fa-exclamation-circle"></i></span>
                  <span class="alert-inner--text">{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}
              {% endwith %}
            </div>

            <br>
            
            <!-- thread -->
            <div name="box" class="card mt-2">
              <div class="card-body">
                <div class="card-header bg-white pb-4">
                  <div class="row">
                    <div class="col-sm-2">
                      <img src="{{ post.user.avatar_path }}" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 120px;">
                    </div>
                    <div class="col">
                      <h4 class="mb-0 mt-2">{{ post.title }}</h4>
                      <a href="{{ url_for('profile', user=post.user.username) }}">
                        <span class="badge badge-pill badge-primary text-lowercase">u/{{ post.user.username }}</span>
                      </a>
                    </div>
                    {% if current_user.id == post.user.id %}
                      <div class="pull-right">
                        <a href="{{ url_for('new_thread', topic=1) }}">
                          <button type="button" class="btn btn-sm btn-danger mt-3 mr-3">Delete Post</button>
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="container col py-4">
                  {% for paragraph in content %}
                    <p>{{ paragraph }}</p>
                  {% endfor %}
                </div>

              </div>
            </div>
            <!-- comments -->
            <div name="box" class="card mt-2">
              <div class="card-body">
                <div class="card-header bg-white pb-4">
                  <div class="row">
                    <div class="col">
                      <h4 class="mb-0 mt-2">Comments:</h4>
                    </div>
                  </div>
                </div>
                <div class="card-body px-lg-3 pr-lg-2">
                  <!-- loop through comments -->
                  <p>There are no comments yet...</p>
                  <hr>
                  
                  {% if current_user.is_authenticated %}
                    <form role="form" method="POST" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-sm-1 mr-4 mb-2">
                          <img src="{{ current_user.avatar_path }}" alt="Circle image" class="avatar-lg rounded-circle shadow">
                        </div>
                        <div class="col mx-2">
                          <div class="form-group">
                            <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Say something..." required></textarea>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button class="btn btn-lg btn-primary btn-icon-only rounded-circle pb-1" type="button">
                            <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
                            <input type="submit" name="submit" hidden>
                          </button>
                        </div>
                      </div>
                    </form>
                  {% else %}
                    <div class="container col-lg-8 center">
                      <div class="text-align-center">
                        <h5>Join the conversation!</h5>
                      </div>
                      
                      <div class="justify-content-center ml-2">
                        <a href="{{ url_for('login') }}">
                          <button type="button" class="btn btn-lg btn-outline-primary">Sign In</button>
                        </a>
                        <a href="{{ url_for('login') }}">
                          <button type="button" class="btn btn-lg btn-primary">Sign Up</button>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2020 <a href="" target="_blank">Lee & Kev Co</a>.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link">Home</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a href="{{ url_for('profile', user=current_user.username) }}" class="nav-link">My Profile</a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('register') }}" class="nav-link">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../static/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/moment.min.js"></script>
  <script src="../static/js/plugins/datetimepicker.js" type="text/javascript"></script>
  <script src="../static/js/plugins/bootstrap-datepicker.min.js"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="../static/js/argon-design-system.min.js?v=1.2.2" type="text/javascript"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
  <script>
    function hide(){
      document.getElementById('flash').style.visibility = 'hidden';
    }
  </script>
  <script>
    function getIcon(x){
      var icons = {
        0: '<div class="icon icon-shape bg-gradient-danger rounded-circle text-white mr-3"><i class="ni ni-controller"></i></div>',
        1: '<div class="icon icon-shape bg-gradient-success rounded-circle text-white mr-3"><i class="ni ni-laptop"></i></div>',
        2: '<div class="icon icon-shape bg-gradient-primary rounded-circle text-white mr-3"><i class="ni ni-atom"></i></div>',
        3: '<div class="icon icon-shape bg-gradient-info rounded-circle text-white mr-3"><i class="ni ni-chart-bar-32"></i></div>',
        4: '<div class="icon icon-shape bg-gradient-warning rounded-circle text-white mr-3"><i class="ni ni-palette"></i></div>'
      };
      return icons[x];
    }
  </script>
</body>

</html>